<header>
    <h1> Inventory Dashboard </h1>
</header>
<body>
    
    <div id="all_products_button">
        <button v-on:click="isShow = !isShow" class="control"> Show Inventory </button>
        <div v-show="isShow" class="content">
            <%= render 'layouts/all_products' %>
        </div>
    </div>
    
    <br />
    
    <div id="add_products_button">
        <button v-on:click="isShow = !isShow" class="control"> Add Inventory </button>
        <div v-show="isShow" class="content">
            <%= render 'layouts/add_products' %>
        </div>
    </div>
    
    <br/>
    
    <div id="sell_products_button">
        <button v-on:click="isShow = !isShow" class="control"> Sale </button>
        <div v-show="isShow" class="content">
            <%= render 'layouts/sell_products' %>
        </div>
    </div>
    
    <br/>
    
    <div id="show_customers_button">
        <button v-on:click="isShow = !isShow" class="control"> Customers </button>
        <div v-show="isShow" class="content">
            <%= render 'layouts/view_customers'%>
        </div>
    </div>

    <br/>

    <div id="new_customer_button">
        <button v-on:click="isShow = !isShow" class="control"> New Customer </button>
        <div v-show="isShow">
            <%= render 'layouts/new_customer' %>
        </div>
    </div>


</body>