<div>
    <%= form_for Sale.new do |s|%>
        <%= s.label :customer_id %>
        <%= s.text_field :customer_id %>

        <%= s.label :product_id %>
        <%= s.text_field :product_id %>
        </br>
        <%= s.label :price %>
        <%= s.text_field :price %>

        <%= s.label :sales_tax %>
        <%= s.text_field :sales_tax %>

        <%= s.submit "Save", class: "btn btn-primary" %>
    <% end %>
</div>